  <form method="post" {{action "signup" on="submit"}}>
    <div class="form-group">{{input class="form-control" value=name type="text" placeholder="name"}}</div>
    <div class="form-group">{{input class="form-control" value=email type="text" placeholder="Email"}}</div>
    <div class="form-group">{{input class="form-control" value=password type="password" placeholder="Password"}}</div>
    <div class="form-group">{{input class="btn btn-default" value="Signup" type="submit"}}</div>
  </form>